# System files
.DS_Store

# Log files
*.log

# Local configuration files
.vscode/settings.json

# Node modules
node_modules/

# Python virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Obsidian files
.obsidian/